<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <!-- Using a float with the button is a bit of a hack but works well enough responsively -->
    <div class="panel-title">
      Competition Information
      <button class="btn btn-default pull-right" {{action 'toggleEditMode'}}>
        <span class="glyphicon {{if inEditMode 'glyphicon-floppy-disk' 'glyphicon-pencil'}}"></span>
      </button>
    </div>
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      <h4>
        <span class="input-group-addon">
          Competition name
        </span>
      </h4>
      <div class="input-lg">
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </div>
    </li>
    <li class="list-group-item">
      <h4>
        <span class="input-group-addon">
          Days
        </span>
      </h4>
      {{day-switcher inEditMode=inEditMode}}
    </li>
    <li class="list-group-item">
      <h4>
        <span class="input-group-addon">
          Referee name
        </span>
      </h4>
      <div class="input-lg">
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </div>
    </li>
    <li class="list-group-item">
      <h4>
        <span class=" input-group-addon">
          Scorer name
        </span>
      </h4>
      <div class="input-lg">
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </div>
    </li>
  </ul>
</div>