<tr>
  <td class="col-lg-4">
    {{#if inEditMode}}
      <div class=" input-group">
        <span class="input-group-addon" id="basic-addon3">Competition Name</span>
        {{input type="text" class="form-control" focus-out='saveCompetitionName' value=competitionName
                disabled=notInEditMode}}
      </div>
    {{else}}
      {{competitionName}}
    {{/if}}
  </td>
  <td class="col-lg-2">
    {{competitionStartDate}} - {{competitionEndDate}}
  </td>
  <td class="col-lg-offset-3 col-lg-1">
    {{#if inEditMode}}
      <button class="btn btn-warning pull-right" {{action 'delete'}}>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    {{else}}
    {{! link-to 'data-entry-interface' storeReference.id sends the user to the data-entry-interface route.
          storeReference.id is passed to the routing function in the params argument}}
      {{#link-to 'data-entry-interface' storeReference.id class="btn btn-success pull-right" }}
        <span class="glyphicon glyphicon-log-in"></span>
      {{/link-to}}
    {{/if}}
  </td>
</tr>