<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <div class="col-lg-4">
      <div class=" input-group">
        <span class="input-group-addon">Event name:</span>
        {{input type="text" class="form-control" value=eventName
                disabled=notInDataEntryMode}}
      </div>
    </div>
    <div class="col-lg-2">
      {{event.type}}
    </div>
    <div class="col-lg-offset-4 col-lg-2">
      <button class="btn btn-default" {{action 'toggleDataEntryMode'}}>
        <!-- The free glyphicon license somewhat ironically doesn't allow for the unlock symbol -->
        <span class="glyphicon {{if inDataEntryMode 'glyphicon-check' 'glyphicon-edit'}}"></span>
      </button>
      {{#if inDataEntryMode}}
        <button class="btn btn-warning" {{action 'delete'}}>
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      {{/if}}
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-lg-4">
        Athlete
      </th>
      {{#if isSplitEvent}}
        <th class="col-lg-3">
          {{eventPrimaryUnit}}
        </th>
        <th class="col-lg-3">
          Time in seconds
        </th>
      {{else}}
        <th class="col-lg-6">
          {{eventPrimaryUnit}}
        </th>
      {{/if}}
      <th class="col-lg-2">
        Points
      </th>
    </tr>
    </thead>
    <tbody>
    {{#each event.records as |record|}}
      {{event-panel-record
        inDataEntryMode=inDataEntryMode
        primaryResultValue=record.primaryResult.value
        secondaryResultValue=record.secondaryResult.value
        recordPoints=record.points
        record=record
        event=event
        isSplitEvent=isSplitEvent
        eventPanel=this}}
    {{/each}}
    </tbody>
  </table>
</div>
{{yield}}