<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title">
      Events for day {{day.number}}
      <button class="btn btn-default pull-right" {{action 'toggleEditMode'}}>
        <span class="glyphicon {{if inEditMode 'glyphicon-floppy-disk' 'glyphicon-pencil'}}"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <!-- New event sub-panel -->
    {{#if inEditMode}}
      {{event-panel-new}}
    {{/if}}
    <!-- Event sub-panels -->
    <!-- TODO: try heading changing to inline forms -->
    {{#each day.events as |event|}}
      <!-- TODO: Figure out what is weird here compared to competition-list-interface.hbs each loop and
        components/competition-list-interface-row.js for saving event types. Possibly the difference in the way the
        store references are passed is causing the differences in how it needs to be saved -->
      {{event-panel event=event inEditMode=inEditMode eventName=event.name}}
    {{/each}}
  </div>
</div>