<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <!-- Using a float with the button is a bit of a hack but works well enough responsively -->
    <div class="panel-title">
      Competition Information
      <button class="btn btn-default pull-right" {{action 'toggleEditMode'}}>
        <span class="glyphicon {{if inEditMode 'glyphicon-floppy-disk' 'glyphicon-pencil'}}"></span>
      </button>
    </div>
  </div>
  <!--<div class="panel-body">-->
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-lg-6">Name</th>
      <th class="col-lg-4">Weight</th>
      <th>Points</th>
      <th>Placing</th>
    </tr>
    </thead>
    <tbody>
    {{#if inEditMode}}
      <tr>
        <td>
          <input type="text" class="form-control" value={{newAthleteName}} disabled={{notInEditMode}}>
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" value={{newAthleteWeight}} disabled={{notInEditMode}}>
            <span class="input-group-addon">kG</span>
          </div>
        </td>
        <!-- This empty td tag exists to keep the table hovering and formatting correct -->
        <td></td>
        <td>
          <button class="btn btn-default" {{action 'saveNewAthlete'}}>
            <span class="glyphicon-plus"></span>
          </button>
        </td>
      </tr>
      <tr>
        <th>
          Current Athletes
        </th>
        <!-- These empty td tags exist to keep the table hovering and formatting correct -->
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/if}}
    {{#each rows as |row|}}
      {{scoreboard-information-panel-row athlete = row.athlete points = row.points position = row.position }}
    {{/each}}
    <!-- Old rows -->
    <!--<tr>
      <td>
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" disabled={{notInEditMode}}>
          <span class="input-group-addon">kG</span>
        </div>
      </td>
      <td>#</td>
      <th>1st</th>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" value="123" disabled={{notInEditMode}}>
          <span class="input-group-addon">kG</span>
        </div>
      </td>
      <td>#</td>
      <th>2rd</th>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control" disabled={{notInEditMode}}>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" disabled={{notInEditMode}}>
          <span class="input-group-addon">kG</span>
        </div>
      </td>
      <td>#</td>
      <th>3rd</th>
    </tr>-->
    </tbody>
  </table>
  <!--</div>-->
</div>