<tr>
  <td>
    <input type="text" class="form-control" value={{athlete.weight}} disabled={{notInEditMode}}>
  </td>
  <td>
    <div class="input-group">
      <input type="text" class="form-control" value={{athlete.name}} disabled={{notInEditMode}}>
      <span class="input-group-addon">kG</span>
    </div>
  </td>
  <td>
    {{points}}
  </td>
  <th>
    {{position}}
  </th>
</tr>