<div class="col-lg-offset-2 col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      Authentication
    </div>
    <form class="panel-body form-group">
      {{#if isLoggedIn}}
        <button class="btn btn-warning col-lg-12" {{action 'signOut'}}>
          Logout
        </button>
      {{else}}
        <div class="input-group">
          <span class="input-group-addon">Email address</span>
          {{input value=emailAddress type="text" class="form-control" placeholder="Email address"}}
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon">Password</span>
          {{input value=password type="text" class="form-control" placeholder="Password"}}
        </div>
        <br/>
        <button class="btn btn-success col-lg-12" {{action 'signIn' emailAddress password}}
                disabled={{areButtonsDisabled}}>
          Login
        </button>
      {{/if}}
    </form>
  </div>
</div>
{{outlet}}